* {
  box-sizing: border-box;
}

.login-page {
  min-height: 100vh;
  background: #0d1117;
  display: flex;
  color: white;
}

.login-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.brand-box {
  max-width: 450px;
}

.brand-box h1 {
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: -2px;

  background: linear-gradient(
    90deg,
    #7c5cff,
    #3b82f6
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.brand-box p {
  margin-top: 20px;
  color: #a1a1aa;
  font-size: 1.1rem;
  line-height: 1.7;
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 420px;
  background: #161b22;
  border: 1px solid #262c36;
  border-radius: 24px;
  padding: 40px;
}

.login-card h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.subtitle {
  color: #9ca3af;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.login-form input {
  background: #0f141b;
  border: 1px solid #2c3440;
  padding: 16px;
  border-radius: 14px;
  color: white;
  font-size: 1rem;
  outline: none;
}

.login-form input:focus {
  border-color: #7c5cff;
}

.login-form button {
  background: linear-gradient(
    90deg,
    #7c5cff,
    #3b82f6
  );
  border: none;
  padding: 16px;
  border-radius: 14px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
}

.bottom-text {
  text-align: center;
  margin-top: 25px;
  color: #9ca3af;
}

.bottom-text span {
  color: #7c5cff;
  cursor: pointer;
}

@media (max-width: 900px) {
  .login-page {
    flex-direction: column;
  }

  .login-left {
    padding-top: 80px;
  }

  .brand-box h1 {
    font-size: 3rem;
    text-align: center;
  }

  .brand-box p {
    text-align: center;
  }

  .login-card {
    width: 90%;
    margin-bottom: 40px;
  }
}